node_modules
*.log
coverage
junit
build
test-results.xml
vars.env
.env
.idea
.vscode
.nyc_output
shrinkwrap.yaml
data/db/*
.DS_Store
local_data
**/package-lock.json
**/*_migrations.json
**/swagger-temp.yaml
.clinic
